* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main {
    width: 100%;
    display: block;
}

aside {
    width: 270px;
    height: 100vh;
    background-color: #14213D;
}

.container-main {
    display: flex;
}

.container-main .inicio-sessao {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-left: 7%;
    margin-top: 3%;
}

.container-main .inicio-sessao p {
    margin-left: 1.5rem;
}

.container-instancias {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 80%;
}

.container-instancias .instancia {
    width: 350px;
    height: 200px;
    background-color: #CC5429;
    border-radius: 20px;
    color: #FFF;
}

.container-instancias .instancia .titulo-instancia {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    padding: 10px;

    border-bottom: 5px solid #66483D;
}

.container-instancias .instancia .titulo-instancia .botao-editar {
    border: none;
    background: none;
    cursor: pointer;
}


.container-instancias .instancia .titulo-instancia .botao-editar figure img {
    width: 36px;
    height: 33px;
}

.container-instancias .instancia .informacoes-instancia {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
}

.container-instancias .instancia .informacoes-instancia p {
    font-size: 20px;
}

/* Estilizando pop-up de edição */

.container-edicao {
    background-color: #FFF;
    border: 5px solid #CC5429;
    width: 800px;
    height: 850px;
    border-radius: 30px;
    margin: auto;
    padding: 20px;

    position: absolute;
    left: 33%;
    top: 2%;
}

.container-edicao .sublinhado {
    padding-bottom: 1rem;
    border-bottom: 2px solid #D9D9D9;
}

.container-edicao .seccao-acima  {
    display: flex;
    justify-content: space-between;
}

.container-edicao .seccao-acima .titulo-edicao {
    font-size: 32px;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.container-edicao .seccao-acima .botoa-sair {
    font-size: 40px;
    border: none;
    background: none;
    cursor: pointer;
}

.container-edicao .sessao-identificacao {
    display: flex;
    justify-content: space-between;
}

.container-edicao .sessao-identificacao .sessao-apelido,
.container-edicao .sessao-parametros .container-inputs .inputs-parametros {
    display: flex;
    flex-direction: column;
}

.container-edicao .sessao-identificacao .sessao-apelido input {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #000;
    padding: 20px;
}

.container-edicao .sessao-identificacao .sessao-apelido label {
    margin-left: 20px;
    margin-bottom: 5px;
}

.container-edicao .sessao-componentes .titulo-componentes,
.container-edicao .sessao-parametros .titulo-parametro {
    margin: 1.5rem 0.75rem 0.75rem 1rem;
}

.container-edicao .sessao-componentes .opcoes-componentes {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    height: 300px;
    overflow-y: auto;
}

.container-edicao .sessao-parametros .container-inputs {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    height: 100px;
    overflow-y: auto;
}

.container-edicao .sessao-parametros .container-inputs .inputs-parametros input{
    width: 250px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #000;
    padding: 20px;
}

.container-edicao .sessao-parametros .container-inputs .inputs-parametros label {
    width: 270px;
    margin-bottom: 0.5rem;
}

.container-edicao .sessao-botoes {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2rem auto;
}

.container-edicao .sessao-botoes .botao {
    width: 250px;
    height: 60px;
    border-radius: 40px;
    font-size: 36px;
    color: #FFF;
    border: none;
    cursor: pointer;
}

.container-edicao .sessao-botoes .editar {
    background-color: #CC5429;
}

.container-edicao .sessao-botoes .deletar {
    background-color: #FF0016;
}

/* Estilização do pop-up de confirmação */

.pop_up_confirmar {
    position: absolute;
    top: 40%;
    left: 37%;

    background-color: #FFF;
    border: 5px solid #CC5429;
    width: 700px;
    height: 270px;
    border-radius: 30px;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.pop_up_confirmar .parte-superior {
    display: flex;
    flex-direction: column;
}

.pop_up_confirmar .parte-superior .texto-confirmacao {
    font-size: 1.5rem;
    padding: 0 30px;
}

.pop_up_confirmar .parte-superior button {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

.pop_up_confirmar .botoes-pop-up {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.pop_up_confirmar .botoes-pop-up .botao {
    width: 255px;
    height: 65px;
    border-radius: 40px;
    font-size: 2rem;
    cursor: pointer;
}

.pop_up_confirmar .botoes-pop-up .voltar {
    background-color: #FFF;
    border: 5px solid #CC5429;
}
.pop_up_confirmar .botoes-pop-up  .confirmar {
    color: #FFF;
    background-color: #FF0016;
    border: none;
}


/* Adicionando responsividade */
@media (max-width: 900px) {
    /* Adicionando responsividade na lista de servidores */
    aside {
        display: none;
    }

    main {
        margin-top: 2rem;
    }

    .container-instancias {
        overflow-y: auto;
    }

    .container-instancias .instancia {
        width: 90%;
        height: 60%;
        font-size: 60%;
    }
    
    .container-instancias .instancia .titulo-instancia .botao-editar figure img {
        width: 31px;
        height: 28px;
    }

    /* Adicionando responsividade no pop-up de edição */
    /* Estilizando pop-up de edição */
    .container-edicao {
        width: 90%;
        height: 98%;

        position: absolute;
        left: 7%;
        top: 2%;
    }

    .container-edicao .seccao-acima .titulo-edicao {
        font-size: 20px;
        margin-left: -10px;
    }

    .container-edicao .seccao-acima .botoa-sair {
        margin-top: -25px;
        font-size: 25px;
    }

    .container-edicao .sessao-identificacao {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .container-edicao .sessao-identificacao .sessao-apelido label {
        font-size: 14px;
    }

    .container-edicao .sessao-parametros {
        height: 130px;
    }
    
    .container-edicao .sessao-parametros .container-inputs {
        width: 80%;
    }

    .container-edicao .sessao-parametros .container-inputs .inputs-parametros input{
        width: 80%;
        height: 30px;
        border-radius: 30px;
        border: 2px solid #000;
        padding: 20px;
    }

    .container-edicao .sessao-parametros .container-inputs .inputs-parametros label {
        font-size: 14px;
        width: 100%;
    }

    .container-edicao .sessao-botoes {
        width: 100%;
        margin: 10px auto;
    }

    .container-edicao .sessao-botoes .botao {
        font-size: 20px;
        height: 60px;
        width: 120px;
    }

}