* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main {
    width: 100%;
}

aside {
    width: 270px;
    height: 100vh;
    background-color: #14213D;
}

.container-main {
    display: flex;
}

.container-main .apresentacao-sessao {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-left: 7%;
    margin-top: 3%;
}

.container-main .apresentacao-sessao p {
    margin-left: 1.5rem;
}

.container-instancias {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 80%;
}

.container-instancias .instancia {
    width: 350px;
    height: 200px;
    background-color: #CC5429;
    border-radius: 20px;
    color: #FFF;
}

.container-instancias .instancia .titulo-instancia {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    padding: 10px;

    border-bottom: 5px solid #66483D;
}

.container-instancias .instancia .titulo-instancia .botao-editar {
    border: none;
    background: none;
    cursor: pointer;
}


.container-instancias .instancia .titulo-instancia .botao-editar figure img {
    width: 36px;
    height: 33px;
}

.container-instancias .instancia .informacoes-instancia {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
}

.container-instancias .instancia .informacoes-instancia p {
    font-size: 20px;
}